JWT_PASS=Contraseña para los JsonWebTokens
SALTROUNDS=Saltrounds de bcrypt a la hora de guardar contraseñas.
MAIL_SERVICE_USER=usuario del servicio de mail
MAIL_SERVICE_PASS=Contraseña servicio de mail
DATABASEURI=Conexion de la base de datos
CORSENV=Direccion a la que permitimos las request. Dominio