JWT_PASS=Contraseña para los JsonWebTokens
SALTROUNDS=Saltrounds de bcrypt a la hora de guardar contraseñas.
MAIL_SERVICE=Servicio de mail usado
MAIL_SERVICE_USER=usuario del servicio de mail
MAIL_SERVICE_PASS=Contraseña del servicio de mail
DATABASE_USERNAME=Nombre de usuario de la base de datos
DATABASE_PASSWORD=Contraseña de la base de datos